<h1>Poker-Hand: {{evaled_hand}}</h1>


<div id="boardcards">

    <img src="{{c1}}.svg">
    <img src="{{c2}}.svg">
    <img src="{{c3}}.svg">
    <img src="{{c4}}.svg">
    <img src="{{c5}}.svg">

</div>






